<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://queuetriggerhttptime.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>queuetriggerhttptime.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/4a13d8a8-a1ac-49db-8f33-9bb4abe775f7/resourceGroups/Queuetriggerhttptime/providers/Microsoft.Web/sites/Queuetriggerhttptime</ResourceId>
    <DeployIisAppPath>Queuetriggerhttptime</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Queuetriggerhttptime</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>